In [7]:
import pandas as pd
import numpy as np

-----------Importing dataset--------------

In [9]:
data = pd.read_csv("training_dataset.csv")

-----------Check the Shape of the Dataset------------

In [57]:
print("Shape of dataset:", data.shape)

Shape of dataset: (18267, 23)

----Display Dataset Information-----------------

In [59]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18267 entries, 0 to 18266
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Cust_id                   18267 non-null  int64
 1   Age                       18267 non-null  int64
 2   Income_group              18267 non-null  object
 3   Existing_Customer         18267 non-null  int64
 4   Occupation_type           18267 non-null  object
 5   Education_Qualification   18267 non-null  int64
 6   Dependents                18267 non-null  int64
 7   Marital_Status            18267 non-null  object
 8   Gender                    18267 non-null  object
 9   Debt_Burden_Ratio         18267 non-null  object
 10  Years_at_current_address  18267 non-null  int64
 11  Credit_Amount             18267 non-null  int64
 12  Housing_1_Own_2_Rent      18267 non-null  int64
 13  Employed_since_yrs        18267 non-null  int64
 14  Location                  18267 non-null  object
 15  DPD_30_6M                 18267 non-null  object
 16  DPD_60_6M                 18267 non-null  object
 17  Months_on_book            18267 non-null  object
 18  Default_Flag              18267 non-null  int64
 19  Occupation_Partner        18267 non-null  object
 20  Job_Seniority             18267 non-null  int64
 21  Assets                    18267 non-null  int64
 22  Savings                   18267 non-null  float64
dtypes: float64(1), int64(12), object(10)
memory usage: 3.2+ MB
None

-------------Summary Statistics of the Dataset---------------

In [61]:
print(data.describe())

           Cust_id           Age  Existing_Customer  Education_Qualification  \
count  18267.00000  18267.000000       18267.000000             18267.000000
mean   49866.81847     40.719823           0.027755                 2.497400
std    28915.87710      7.824026           0.164274                 1.115292
min        3.00000     22.000000           0.000000                 1.000000
25%    24753.00000     36.000000           0.000000                 2.000000
50%    50057.00000     42.000000           0.000000                 2.000000
75%    74816.50000     45.000000           0.000000                 3.000000
max    99994.00000     55.000000           1.000000                 4.000000

         Dependents  Years_at_current_address  Credit_Amount  \
count  18267.000000              18267.000000   18267.000000
mean       0.821098                  8.696338  176105.240105
std        0.675604                  4.315100   72030.759217
min        0.000000                  0.000000   50001.000000
25%        0.000000                  6.000000  113803.000000
50%        1.000000                  9.000000  176472.000000
75%        1.000000                 12.000000  238418.000000
max        3.000000                 15.000000  299990.000000

       Housing_1_Own_2_Rent  Employed_since_yrs  Default_Flag  Job_Seniority  \
count          18267.000000        18267.000000  18267.000000   18267.000000
mean               1.533311           10.260196      0.155745       5.226255
std                0.498903            4.885855      0.362624       6.687622
min                1.000000            1.000000      0.000000       0.000000
25%                1.000000            7.000000      0.000000       1.000000
50%                2.000000            9.000000      0.000000       2.000000
75%                2.000000           14.000000      0.000000       7.000000
max                2.000000           20.000000      1.000000      48.000000

              Assets       Savings
count   18267.000000  18267.000000
mean     3991.752121      3.009446
std      9498.744279      3.432628
min         0.000000     -7.248000
25%         0.000000      0.960000
50%      1000.000000      2.357143
75%      5000.000000      4.235294
max    250000.000000     30.600000

-----------Checking for Missing Values-----------------

In [63]:
print(data.isnull().sum())

Cust_id                     0
Age                         0
Income_group                0
Existing_Customer           0
Occupation_type             0
Education_Qualification     0
Dependents                  0
Marital_Status              0
Gender                      0
Debt_Burden_Ratio           0
Years_at_current_address    0
Credit_Amount               0
Housing_1_Own_2_Rent        0
Employed_since_yrs          0
Location                    0
DPD_30_6M                   0
DPD_60_6M                   0
Months_on_book              0
Default_Flag                0
Occupation_Partner          0
Job_Seniority               0
Assets                      0
Savings                     0
dtype: int64

------------Target Variable distribution--------------

In [65]:
print(data['Default_Flag'].value_counts(normalize=True) * 100)

Default_Flag
0    84.425467
1    15.574533
Name: proportion, dtype: float64

-------Explore categorical variable distributions-------------

In [67]:
categorical_vars = data.select_dtypes(include=['object']).columns
for col in categorical_vars:
    print(f"\nVariable: {col}")
    print(data[col].value_counts(normalize=True) * 100)

Variable: Income_group
Income_group
<=100000     39.448185
> 100000     30.191055
< = 50000    13.012536
< = 35000     7.527235
< = 25000     6.574698
< = 15000     3.246291
Name: proportion, dtype: float64

Variable: Occupation_type
Occupation_type
Private          57.612087
Govt             36.634368
Self-Employed     5.288225
Self-employed     0.443423
Unemployed        0.021897
Name: proportion, dtype: float64

Variable: Marital_Status
Marital_Status
Married      51.858543
Single       48.048393
Seperated     0.093064
Name: proportion, dtype: float64

Variable: Gender
Gender
F    50.588493
M    49.411507
Name: proportion, dtype: float64

Variable: Debt_Burden_Ratio
Debt_Burden_Ratio
< = 0.10    59.172278
< = 0.50    24.579843
> 0.50      16.247879
Name: proportion, dtype: float64

Variable: Location
Location
North      35.024908
South      32.840642
Central    32.134450
Name: proportion, dtype: float64

Variable: DPD_30_6M
DPD_30_6M
0    70.953085
1    28.723928
2     0.218974
.     0.104013
Name: proportion, dtype: float64

Variable: DPD_60_6M
DPD_60_6M
0    75.880002
1    23.775114
2     0.240872
.     0.104013
Name: proportion, dtype: float64

Variable: Months_on_book
Months_on_book
< 6      52.137735
> = 6    47.451689
< 6       0.410576
Name: proportion, dtype: float64

Variable: Occupation_Partner
Occupation_Partner
fixed        49.362238
freelance    25.444791
partime      19.696721
others        5.496250
Name: proportion, dtype: float64

In [11]:
for col in data.columns:
    # Count how many '.' values are in the column
    dot_count = (data[col] == ".").sum()
    if dot_count > 0:
        print(f"Column: {col} --> {dot_count} occurrences of '.'")

Column: DPD_30_6M --> 19 occurrences of '.'
Column: DPD_60_6M --> 19 occurrences of '.'

In [13]:
for col in data.columns:
    if (data[col] == ".").any():  # only check columns that contain "."
        print(f"\nUnique values in {col}:")
        print(data[col].value_counts(dropna=False))

Unique values in DPD_30_6M:
DPD_30_6M
0    12961
1     5247
2       40
.       19
Name: count, dtype: int64

Unique values in DPD_60_6M:
DPD_60_6M
0    13861
1     4343
2       44
.       19
Name: count, dtype: int64

In [15]:
# Replace all occurrences of "." with NaN
data.replace(".", np.nan, inplace=True)

In [75]:
# Summary of missing values per column
missing_summary = data.isnull().sum()
print("Missing values per variable:")
print(missing_summary)

Missing values per variable:
Cust_id                      0
Age                          0
Income_group                 0
Existing_Customer            0
Occupation_type              0
Education_Qualification      0
Dependents                   0
Marital_Status               0
Gender                       0
Debt_Burden_Ratio            0
Years_at_current_address     0
Credit_Amount                0
Housing_1_Own_2_Rent         0
Employed_since_yrs           0
Location                     0
DPD_30_6M                   19
DPD_60_6M                   19
Months_on_book               0
Default_Flag                 0
Occupation_Partner           0
Job_Seniority                0
Assets                       0
Savings                      0
dtype: int64

In [19]:
df_clean = data.dropna()

In [81]:
print("Any '.' left? ", (df_clean == ".").any().any())
print("Any NaN left? ", df_clean.isnull().any().any())

Any '.' left?  False
Any NaN left?  False

In [21]:
df_clean

,Cust_id,Age,Income_group,Existing_Customer,Occupation_type,Education_Qualification,Dependents,Marital_Status,Gender,Debt_Burden_Ratio,...,Employed_since_yrs,Location,DPD_30_6M,DPD_60_6M,Months_on_book,Default_Flag,Occupation_Partner,Job_Seniority,Assets,Savings
0,14898,52,<=100000,0,Private,1,1,Single,M,< = 0.10,...,14,North,0,0,> = 6,0,freelance,20,10000,1.600000
1,34986,34,> 100000,0,Govt,1,1,Married,F,< = 0.10,...,11,Central,0,0,> = 6,0,freelance,5,1,7.662857
2,74167,37,<=100000,0,Govt,2,0,Single,M,< = 0.10,...,10,North,0,0,< 6,0,fixed,1,7700,6.624000
3,80278,43,< = 50000,0,Private,4,0,Single,M,< = 0.50,...,6,South,1,1,< 6,1,fixed,2,55,8.307692
4,2442,35,< = 50000,0,Private,3,1,Married,F,< = 0.10,...,8,South,0,0,> = 6,0,partime,0,0,0.675000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18262,35788,40,<=100000,0,Private,3,1,Single,M,< = 0.10,...,7,Central,0,0,> = 6,0,freelance,3,6000,2.589474
18263,85264,42,< = 50000,0,Govt,1,2,Married,F,< = 0.10,...,6,South,0,0,> = 6,0,fixed,14,4000,2.742857
18264,1481,43,<=100000,0,Private,1,0,Single,F,< = 0.50,...,7,North,1,1,< 6,1,freelance,0,10000,7.140000
18265,25731,37,< = 50000,0,Govt,4,1,Single,M,< = 0.50,...,9,Central,0,0,> = 6,0,fixed,2,2000,1.158621
18266,94945,39,<=100000,0,Private,2,2,Married,F,< = 0.10,...,7,Central,0,0,< 6,0,fixed,3,14000,2.145455

In [23]:
import pandas as pd
import numpy as np

EPS = 1e-6  # smoothing factor to avoid divide-by-zero

def compute_woe_iv_all(df, target='Default_Flag', bins=10, print_all=True):
    """
    Compute WOE and IV for all variables in a dataset.
    Handles both numeric and categorical variables correctly.
    """

    y = df[target].astype(int)  # target must be binary 0/1

    results = {}
    iv_rows = []

    for col in df.columns:
        if col == target:
            continue

        x = df[col]

        # --- Step 1: Decide whether variable is numeric or categorical ---
        if pd.api.types.is_numeric_dtype(x) and x.nunique() > bins:
            # Numeric â†’ apply binning
            try:
                binned_x = pd.qcut(x, q=bins, duplicates='drop')
            except Exception:
                # fallback to treating as categorical if qcut fails
                binned_x = x.astype(str)
        else:
            # Categorical or low-cardinality numeric â†’ treat as category
            binned_x = x.astype(str)

        # --- Step 2: Build grouped stats ---
        d = pd.DataFrame({'Bin': binned_x, 'Y': y})
        g = d.groupby('Bin')['Y']
        total = g.size()
        events = g.sum()
        non_events = total - events

        # Skip if no separation
        if events.sum() == 0 or non_events.sum() == 0:
            print(f"Skipping {col}: no events or non-events across its groups.")
            continue

        woe_df = pd.DataFrame({
            'Total': total,
            'Events': events,
            'Non_Events': non_events
        })

        woe_df['Dist_Event'] = woe_df['Events'] / woe_df['Events'].sum()
        woe_df['Dist_NonEvent'] = woe_df['Non_Events'] / woe_df['Non_Events'].sum()
        woe_df['WOE'] = np.log((woe_df['Dist_NonEvent'] + EPS) / (woe_df['Dist_Event'] + EPS))
        woe_df['IV'] = (woe_df['Dist_NonEvent'] - woe_df['Dist_Event']) * woe_df['WOE']

        iv_total = woe_df['IV'].sum()

        results[col] = woe_df.reset_index().rename(columns={'Bin': col})
        iv_rows.append((col, iv_total))

        if print_all:
            print(f"\n===== {col} =====")
            print(results[col])
            print(f"Total IV for {col}: {iv_total:.4f}")

    # --- Step 3: IV summary table ---
    iv_summary = pd.DataFrame(iv_rows, columns=['Variable', 'IV']).sort_values('IV', ascending=False)

    def interpret(iv):
        if iv < 0.02: return 'Not predictive'
        if iv < 0.10: return 'Weak'
        if iv < 0.30: return 'Medium'
        if iv < 0.50: return 'Strong'
        return 'Suspicious (too predictive)'

    iv_summary['Interpretation'] = iv_summary['IV'].apply(interpret)

    print("\n\n=== IV Summary (sorted) ===")
    print(iv_summary)

    return results, iv_summary


# ---- Run on your dataset ----
woe_tables, iv_summary = compute_woe_iv_all(df_clean, target='Default_Flag', bins=10, print_all=True)

C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3591351644.py:37: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g = d.groupby('Bin')['Y']

===== Cust_id =====
              Cust_id  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0     (2.999, 9980.5]   1825     268        1557    0.094300       0.101065
1   (9980.5, 19805.2]   1825     255        1570    0.089726       0.101908
2  (19805.2, 29716.3]   1825     280        1545    0.098522       0.100286
3  (29716.3, 39652.4]   1824     287        1537    0.100985       0.099766
4  (39652.4, 50064.5]   1825     270        1555    0.095004       0.100935
5  (50064.5, 59763.4]   1825     285        1540    0.100281       0.099961
6  (59763.4, 69813.9]   1824     299        1525    0.105208       0.098987
7  (69813.9, 79888.0]   1825     303        1522    0.106615       0.098793
8  (79888.0, 90226.0]   1825     295        1530    0.103800       0.099312
9  (90226.0, 99994.0]   1825     300        1525    0.105559       0.098987

        WOE        IV
0  0.069279  0.000469
1  0.127317  0.001551
2  0.017740  0.000031
3 -0.012143  0.000015
4  0.060559  0.000359
5 -0.003200  0.000001
6 -0.060942  0.000379
7 -0.076201  0.000596
8 -0.044201  0.000198
9 -0.064281  0.000422
Total IV for Cust_id: 0.0040

===== Age =====
              Age  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (21.999, 30.0]   2027     509        1518    0.179099       0.098533
1    (30.0, 34.0]   1810     357        1453    0.125616       0.094314
2    (34.0, 37.0]   2164     466        1698    0.163969       0.110217
3    (37.0, 39.0]   1441     274        1167    0.096411       0.075750
4    (39.0, 42.0]   2717     415        2302    0.146024       0.149422
5    (42.0, 43.0]   1151     193         958    0.067910       0.062184
6    (43.0, 45.0]   2394     312        2082    0.109782       0.135142
7    (45.0, 47.0]    972      77         895    0.027094       0.058094
8    (47.0, 51.0]   1817     132        1685    0.046446       0.109373
9    (51.0, 55.0]   1755     107        1648    0.037650       0.106971

        WOE        IV
0 -0.597544  0.048142
1 -0.286596  0.008971
2 -0.397225  0.021352
3 -0.241183  0.004983
4  0.023006  0.000078
5 -0.088090  0.000504
6  0.207830  0.005271
7  0.762750  0.023646
8  0.856458  0.053894
9  1.044223  0.072387
Total IV for Age: 0.2392

===== Income_group =====
  Income_group  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0    < = 15000    593     161         432    0.056650       0.028041
1    < = 25000   1201     278         923    0.097818       0.059912
2    < = 35000   1373     298        1075    0.104856       0.069778
3    < = 50000   2374     479        1895    0.168543       0.123004
4     <=100000   7203    1244        5959    0.437720       0.386797
5     > 100000   5504     382        5122    0.134412       0.332468

        WOE        IV
0 -0.703210  0.020118
1 -0.490234  0.018583
2 -0.407262  0.014286
3 -0.314973  0.014344
4 -0.123678  0.006298
5  0.905626  0.179364
Total IV for Income_group: 0.2530

===== Existing_Customer =====
  Existing_Customer  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0                 0  17743    2822       14921    0.992963       0.968519
1                 1    505      20         485    0.007037       0.031481

        WOE        IV
0 -0.024925  0.000609
1  1.498057  0.036618
Total IV for Existing_Customer: 0.0372

===== Occupation_type =====
  Occupation_type  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0            Govt   6682    1434        5248    0.504574       0.340647
1         Private  10515     950        9565    0.334272       0.620862
2   Self-Employed    966     377         589    0.132653       0.038232
3   Self-employed     81      81           0    0.028501       0.000000
4      Unemployed      4       0           4    0.000000       0.000260

         WOE        IV
0  -0.392869  0.064402
1   0.619154  0.177443
2  -1.244049  0.117465
3 -10.257731  0.292356
4   5.563137  0.001444
Total IV for Occupation_type: 0.6531

===== Education_Qualification =====
  Education_Qualification  Total  Events  Non_Events  Dist_Event  \
0                       1   4535     656        3879    0.230823
1                       2   4638     741        3897    0.260732
2                       3   4540     730        3810    0.256861
3                       4   4535     715        3820    0.251583

   Dist_NonEvent       WOE        IV
0       0.251785  0.086923  0.001822
1       0.252953 -0.030287  0.000236
2       0.247306 -0.037909  0.000362
3       0.247955 -0.014526  0.000053
Total IV for Education_Qualification: 0.0025

===== Dependents =====
  Dependents  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0          0   6074    1268        4806    0.446165       0.311956 -0.357824
1          1   9371    1216        8155    0.427868       0.529339  0.212815
2          2   2792     347        2445    0.122097       0.158704  0.262225
3          3     11      11           0    0.003871       0.000000 -8.261401

         IV
0  0.048023
1  0.021595
2  0.009599
3  0.031976
Total IV for Dependents: 0.1112

===== Marital_Status =====
  Marital_Status  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0        Married   9469    1209        8260    0.425405       0.536155
1      Seperated     17      16           1    0.005630       0.000065
2         Single   8762    1617        7145    0.568966       0.463780

        WOE        IV
0  0.231382  0.025626
1 -4.447727  0.024751
2 -0.204408  0.021501
Total IV for Marital_Status: 0.0719

===== Gender =====
  Gender  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0      F   9231    1286        7945    0.452498       0.515708  0.130757
1      M   9017    1556        7461    0.547502       0.484292 -0.122678

         IV
0  0.008265
1  0.007754
Total IV for Gender: 0.0160

===== Debt_Burden_Ratio =====
  Debt_Burden_Ratio  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0          < = 0.10  10799     134       10665    0.047150       0.692263
1          < = 0.50   4487    1220        3267    0.429275       0.212060
2            > 0.50   2962    1488        1474    0.523575       0.095677

        WOE        IV
0  2.686614  1.733169
1 -0.705225  0.153185
2 -1.699694  0.727295
Total IV for Debt_Burden_Ratio: 2.6137

===== Years_at_current_address =====
  Years_at_current_address  Total  Events  Non_Events  Dist_Event  \
0            (-0.001, 2.0]   2114     334        1780    0.117523
1               (2.0, 5.0]   2220     325        1895    0.114356
2               (5.0, 6.0]   1281     201        1080    0.070725
3               (6.0, 8.0]   2635     405        2230    0.142505
4               (8.0, 9.0]   1327     204        1123    0.071780
5              (9.0, 11.0]   2868     456        2412    0.160450
6             (11.0, 12.0]   1588     241        1347    0.084799
7             (12.0, 13.0]   1376     247        1129    0.086911
8             (13.0, 14.0]   1411     204        1207    0.071780
9             (14.0, 15.0]   1428     225        1203    0.079170

   Dist_NonEvent       WOE        IV
0       0.115539 -0.017021  0.000034
1       0.123004  0.072899  0.000630
2       0.070103 -0.008837  0.000005
3       0.144749  0.015621  0.000035
4       0.072894  0.015390  0.000017
5       0.156562 -0.024530  0.000095
6       0.087433  0.030589  0.000081
7       0.073283 -0.170548  0.002324
8       0.078346  0.087523  0.000575
9       0.078086 -0.013776  0.000015
Total IV for Years_at_current_address: 0.0038

===== Credit_Amount =====
          Credit_Amount  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (50000.999, 75606.0]   1826     292        1534    0.102745       0.099572
1   (75606.0, 101406.0]   1825     288        1537    0.101337       0.099766
2  (101406.0, 126323.1]   1824     283        1541    0.099578       0.100026
3  (126323.1, 151320.6]   1824     258        1566    0.090781       0.101649
4  (151320.6, 176476.0]   1827     298        1529    0.104856       0.099247
5  (176476.0, 201312.0]   1826     301        1525    0.105911       0.098987
6  (201312.0, 226593.0]   1822     265        1557    0.093244       0.101065
7  (226593.0, 251046.0]   1825     292        1533    0.102745       0.099507
8  (251046.0, 275641.0]   1825     294        1531    0.103448       0.099377
9  (275641.0, 299990.0]   1824     271        1553    0.095355       0.100805

        WOE        IV
0 -0.031369  0.000100
1 -0.015622  0.000025
2  0.004491  0.000002
3  0.113070  0.001229
4 -0.054973  0.000308
5 -0.067609  0.000468
6  0.080537  0.000630
7 -0.032021  0.000104
8 -0.040152  0.000163
9  0.055575  0.000303
Total IV for Credit_Amount: 0.0033

===== Housing_1_Own_2_Rent =====
  Housing_1_Own_2_Rent  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0                    1   8515     874        7641     0.30753       0.495976
1                    2   9733    1968        7765     0.69247       0.504024

        WOE        IV
0  0.477953  0.090068
1 -0.317640  0.059858
Total IV for Housing_1_Own_2_Rent: 0.1499

===== Employed_since_yrs =====
  Employed_since_yrs  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0       (0.999, 4.0]   1947     460        1487    0.161858       0.096521
1         (4.0, 6.0]   1731     399        1332    0.140394       0.086460
2         (6.0, 7.0]   1857     306        1551    0.107671       0.100675
3         (7.0, 8.0]   1878     325        1553    0.114356       0.100805
4         (8.0, 9.0]   1896     352        1544    0.123856       0.100221
5        (9.0, 10.0]   1992     406        1586    0.142857       0.102947
6       (10.0, 13.0]   2080     201        1879    0.070725       0.121965
7       (13.0, 15.0]   1430     118        1312    0.041520       0.085162
8       (15.0, 18.0]   2074     154        1920    0.054187       0.124627
9       (18.0, 20.0]   1363     121        1242    0.042576       0.080618

        WOE        IV
0 -0.516955  0.033776
1 -0.484769  0.026146
2 -0.067178  0.000470
3 -0.126129  0.001709
4 -0.211747  0.005005
5 -0.327629  0.013076
6  0.544935  0.027923
7  0.718362  0.031350
8  0.832868  0.058667
9  0.638428  0.024287
Total IV for Employed_since_yrs: 0.2224

===== Location =====
  Location  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0  Central   5861     909        4952    0.319845       0.321433  0.004953
1    North   6394     959        5435    0.337438       0.352785  0.044475
2    South   5993     974        5019    0.342716       0.325782 -0.050674

         IV
0  0.000008
1  0.000683
2  0.000858
Total IV for Location: 0.0015

===== DPD_30_6M =====
  DPD_30_6M  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0         0  12961     160       12801    0.056298       0.830910  2.691839
1         1   5247    2667        2580    0.938424       0.167467 -1.723409
2         2     40      15          25    0.005278       0.001623 -1.178997

         IV
0  2.085130
1  1.328673
2  0.004310
Total IV for DPD_30_6M: 3.4181

===== DPD_60_6M =====
  DPD_60_6M  Total  Events  Non_Events  Dist_Event  Dist_NonEvent       WOE  \
0         0  13861     422       13439    0.148487       0.872322  1.770656
1         1   4343    2401        1942    0.844828       0.126055 -1.902409
2         2     44      19          25    0.006685       0.001623 -1.415346

         IV
0  1.281664
1  1.367400
2  0.007165
Total IV for DPD_60_6M: 2.6562

===== Months_on_book =====
  Months_on_book  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0            < 6   9516    1471        8045    0.517593       0.522199
1           < 6      75       7          68    0.002463       0.004414
2          > = 6   8657    1364        7293    0.479944       0.473387

        WOE        IV
0  0.008859  0.000041
1  0.583169  0.001138
2 -0.013756  0.000090
Total IV for Months_on_book: 0.0013

===== Occupation_Partner =====
  Occupation_Partner  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0              fixed   9003    1971        7032    0.693526       0.456446
1          freelance   4646     587        4059    0.206545       0.263469
2             others   1004      96         908    0.033779       0.058938
3            partime   3595     188        3407    0.066151       0.221148

        WOE        IV
0 -0.418318  0.099175
1  0.243417  0.013856
2  0.556635  0.014004
3  1.206886  0.187064
Total IV for Occupation_Partner: 0.3141

===== Job_Seniority =====
   Job_Seniority  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  (-0.001, 1.0]   6813     480        6333    0.168895       0.411074
1     (1.0, 2.0]   2331     217        2114    0.076355       0.137219
2     (2.0, 4.0]   2358     398        1960    0.140042       0.127223
3     (4.0, 6.0]   1771     321        1450    0.112949       0.094119
4    (6.0, 10.0]   1948     450        1498    0.158339       0.097235
5   (10.0, 14.0]   1234     341         893    0.119986       0.057964
6   (14.0, 48.0]   1793     635        1158    0.223434       0.075166

        WOE        IV
0  0.889491  0.215415
1  0.586185  0.035678
2 -0.096001  0.001231
3 -0.182370  0.003434
4 -0.487606  0.029795
5 -0.727536  0.045123
6 -1.089416  0.161526
Total IV for Job_Seniority: 0.4922

===== Assets =====
               Assets  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0    (-0.001, 1000.0]   9174     875        8299    0.307882       0.538686
1    (1000.0, 3000.0]   2240     342        1898    0.120338       0.123199
2    (3000.0, 4000.0]   1825     391        1434    0.137579       0.093081
3    (4000.0, 6000.0]   1844     476        1368    0.167488       0.088797
4    (6000.0, 9000.0]   1365     281        1084    0.098874       0.070362
5  (9000.0, 250000.0]   1800     477        1323    0.167840       0.085876

        WOE        IV
0  0.559416  0.129116
1  0.023496  0.000067
2 -0.390730  0.017387
3 -0.634556  0.049934
4 -0.340186  0.009699
5 -0.670103  0.054924
Total IV for Assets: 0.2611

===== Savings =====
                         Savings  Total  Events  Non_Events  Dist_Event  \
0  (-7.2490000000000006, -0.212]   1827      77        1750    0.027094
1                 (-0.212, 0.66]   1831     198        1633    0.069669
2                  (0.66, 1.267]   1830     199        1631    0.070021
3                 (1.267, 1.824]   1816     197        1619    0.069317
4                 (1.824, 2.357]   1822     258        1564    0.090781
5                   (2.357, 3.0]   1888     368        1520    0.129486
6                   (3.0, 3.778]   1768     306        1462    0.107671
7                 (3.778, 4.929]   1823     367        1456    0.129134
8                 (4.929, 6.776]   1821     383        1438    0.134764
9                  (6.776, 30.6]   1822     489        1333    0.172062

   Dist_NonEvent       WOE        IV
0       0.113592  1.433289  0.123977
1       0.105998  0.419653  0.015245
2       0.105868  0.413390  0.014819
3       0.105089  0.416106  0.014885
4       0.101519  0.111792  0.001200
5       0.098663 -0.271864  0.008380
6       0.094898 -0.126272  0.001613
7       0.094509 -0.312160  0.010809
8       0.093340 -0.367272  0.015214
9       0.086525 -0.687418  0.058800
Total IV for Savings: 0.2649


=== IV Summary (sorted) ===
                    Variable        IV               Interpretation
15                 DPD_30_6M  3.418113  Suspicious (too predictive)
16                 DPD_60_6M  2.656229  Suspicious (too predictive)
9          Debt_Burden_Ratio  2.613650  Suspicious (too predictive)
4            Occupation_type  0.653111  Suspicious (too predictive)
19             Job_Seniority  0.492202                       Strong
18        Occupation_Partner  0.314099                       Strong
21                   Savings  0.264942                       Medium
20                    Assets  0.261127                       Medium
2               Income_group  0.252993                       Medium
1                        Age  0.239228                       Medium
13        Employed_since_yrs  0.222409                       Medium
12      Housing_1_Own_2_Rent  0.149926                       Medium
6                 Dependents  0.111193                       Medium
7             Marital_Status  0.071878                         Weak
3          Existing_Customer  0.037228                         Weak
8                     Gender  0.016020               Not predictive
0                    Cust_id  0.004022               Not predictive
10  Years_at_current_address  0.003812               Not predictive
11             Credit_Amount  0.003331               Not predictive
5    Education_Qualification  0.002473               Not predictive
14                  Location  0.001549               Not predictive
17            Months_on_book  0.001269               Not predictive

In [70]:
import pandas as pd
import numpy as np

# target variable
target = 'Default_Flag'

# list of coarse classed variables
coarse_vars = [
    'Age_bin', 'Income_bin', 'Occ_bin', 'Marital_bin',
    'Housing_bin', 'EmpTenure_bin', 'OccPartner_bin'
]

# function to calculate WOE/IV for one variable
def calc_woe_iv(df, feature, target):
    # group by feature
    grouped = df.groupby(feature)[target].agg(['count','sum'])
    grouped.rename(columns={'count': 'Total', 'sum': 'Events'}, inplace=True)
    grouped['Non_Events'] = grouped['Total'] - grouped['Events']
    
    # distribution of events and non-events
    grouped['Dist_Event'] = grouped['Events'] / grouped['Events'].sum()
    grouped['Dist_NonEvent'] = grouped['Non_Events'] / grouped['Non_Events'].sum()
    
    # handle divide by zero with small epsilon
    eps = 1e-10
    grouped['WOE'] = np.log((grouped['Dist_Event'] + eps) / (grouped['Dist_NonEvent'] + eps))
    
    # IV calculation
    grouped['IV'] = (grouped['Dist_Event'] - grouped['Dist_NonEvent']) * grouped['WOE']
    grouped['IV'] = grouped['IV'].round(6)
    
    # total IV
    total_iv = grouped['IV'].sum().round(4)
    
    return grouped.reset_index(), total_iv

# run the function for all coarse variables
iv_summary = []

for var in coarse_vars:
    table, total_iv = calc_woe_iv(df_clean, var, target)
    print(f"\n===============================")
    print(f"WOE/IV Table for {var}")
    print(table)
    print(f"Total IV for {var}: {total_iv}")
    iv_summary.append({'Variable': var, 'IV': total_iv})

# IV summary table
iv_summary_df = pd.DataFrame(iv_summary)
print("\n\n===============================")
print(" IV Summary for All Coarse Variables")
print(iv_summary_df)

===============================
WOE/IV Table for Age_bin
               Age_bin  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0      High Risk (<25)    686     200         486    0.070373       0.031546
1       Low Risk (>40)   9995    1106        8889    0.389163       0.576983
2  Medium Risk (25-40)   7567    1536        6031    0.540464       0.391471

        WOE        IV
0  0.802358  0.031153
1 -0.393816  0.073967
2  0.322518  0.048053
Total IV for Age_bin: 0.1532

===============================
WOE/IV Table for Income_bin
               Income_bin  Total  Events  Non_Events  Dist_Event  \
0       High Risk (<=35k)   3167     737        2430    0.259324
1        Low Risk (>100k)   5504     382        5122    0.134412
2  Medium Risk (35k-100k)   9577    1723        7854    0.606263

   Dist_NonEvent       WOE        IV
0       0.157731  0.497190  0.050511
1       0.332468 -0.905631  0.179365
2       0.509801  0.173293  0.016716
Total IV for Income_bin: 0.2466

===============================
WOE/IV Table for Occ_bin
                         Occ_bin  Total  Events  Non_Events  Dist_Event  \
0         High Risk (Unemployed)      4       0           4    0.000000
1  Low Risk (Govt/Self-Employed)   7729    1892        5837    0.665728
2          Medium Risk (Private)  10515     950        9565    0.334272

   Dist_NonEvent        WOE        IV
0       0.000260 -14.769633  0.003835
1       0.378878   0.563667  0.161688
2       0.620862  -0.619155  0.177444
Total IV for Occ_bin: 0.343

===============================
WOE/IV Table for Marital_bin
                    Marital_bin  Total  Events  Non_Events  Dist_Event  \
0            High Risk (Single)   8762    1617        7145    0.568966
1  Low Risk (Married/Separated)   9486    1225        8261    0.431034

   Dist_NonEvent       WOE        IV
0        0.46378  0.204409  0.021501
1        0.53622 -0.218356  0.022968
Total IV for Marital_bin: 0.0445

===============================
WOE/IV Table for Housing_bin
        Housing_bin  Total  Events  Non_Events  Dist_Event  Dist_NonEvent  \
0  High Risk (Rent)   9733    1968        7765     0.69247       0.504024
1    Low Risk (Own)   8515     874        7641     0.30753       0.495976

        WOE        IV
0  0.317640  0.059858
1 -0.477954  0.090068
Total IV for Housing_bin: 0.1499

===============================
WOE/IV Table for EmpTenure_bin
            EmpTenure_bin  Total  Events  Non_Events  Dist_Event  \
0     High Risk (<=3 yrs)   1467     363        1104    0.127727
1      Low Risk (>10 yrs)   6947     594        6353    0.209008
2  Medium Risk (4-10 yrs)   9834    1885        7949    0.663265

   Dist_NonEvent       WOE        IV
0       0.071660  0.577957  0.032404
1       0.412372 -0.679554  0.138197
2       0.515968  0.251131  0.036991
Total IV for EmpTenure_bin: 0.2076

===============================
WOE/IV Table for OccPartner_bin
                 OccPartner_bin  Total  Events  Non_Events  Dist_Event  \
0  High Risk (Freelance/Others)   5650     683        4967    0.240324
1              Low Risk (Fixed)   9003    1971        7032    0.693526
2       Medium Risk (Part-time)   3595     188        3407    0.066151

   Dist_NonEvent       WOE        IV
0       0.322407 -0.293827  0.024118
1       0.456446  0.418319  0.099175
2       0.221148 -1.206896  0.187065
Total IV for OccPartner_bin: 0.3104


===============================
 IV Summary for All Coarse Variables
         Variable      IV
0         Age_bin  0.1532
1      Income_bin  0.2466
2         Occ_bin  0.3430
3     Marital_bin  0.0445
4     Housing_bin  0.1499
5   EmpTenure_bin  0.2076
6  OccPartner_bin  0.3104

In [68]:
import numpy as np
import pandas as pd

# ======================
# 1. Age
# ======================
df_clean['Age_bin'] = np.select(
    [
        df_clean['Age'] < 25,
        (df_clean['Age'] >= 25) & (df_clean['Age'] <= 40),
        df_clean['Age'] > 40
    ],
    ['High Risk (<25)', 'Medium Risk (25-40)', 'Low Risk (>40)'],
    default='Other'
)

# ======================
# 2. Income_group
# ======================
def bin_income(x):
    x = str(x).replace(" ", "").lower()
    if x in ['<=15000', '<=25000', '<=35000']:
        return 'High Risk (<=35k)'
    elif x in ['<=50000', '<=100000']:
        return 'Medium Risk (35k-100k)'
    elif x in ['>100000', '>100k']:
        return 'Low Risk (>100k)'
    else:
        return 'Other'

df_clean['Income_bin'] = df_clean['Income_group'].apply(bin_income)

# ======================
# 3. Occupation_type
# ======================
def bin_occ(x):
    x = str(x).strip().lower()
    if x in ['unemployed']:
        return 'High Risk (Unemployed)'
    elif x in ['private']:
        return 'Medium Risk (Private)'
    elif x in ['govt', 'self-employed', 'self employed', 'self_employed']:
        return 'Low Risk (Govt/Self-Employed)'
    else:
        return 'Other'

df_clean['Occ_bin'] = df_clean['Occupation_type'].apply(bin_occ)

# ======================
# 4. Marital_Status
# ======================
def bin_marital(x):
    x = str(x).strip().lower()
    if x == 'single':
        return 'High Risk (Single)'
    elif x in ['married', 'separated', 'seperated']:
        return 'Low Risk (Married/Separated)'
    else:
        return 'Other'

df_clean['Marital_bin'] = df_clean['Marital_Status'].apply(bin_marital)

# ======================
# 5. Housing_1_Own_2_Rent
# ======================
df_clean['Housing_bin'] = df_clean['Housing_1_Own_2_Rent'].map({
    1: 'Low Risk (Own)',
    2: 'High Risk (Rent)'
})

# ======================
# 6. Employed_since_yrs
# ======================
df_clean['EmpTenure_bin'] = np.select(
    [
        df_clean['Employed_since_yrs'] <= 3,
        (df_clean['Employed_since_yrs'] > 3) & (df_clean['Employed_since_yrs'] <= 10),
        df_clean['Employed_since_yrs'] > 10
    ],
    ['High Risk (<=3 yrs)', 'Medium Risk (4-10 yrs)', 'Low Risk (>10 yrs)'],
    default='Other'
)

# ======================
# 7. Occupation_Partner
# ======================
def bin_occ_partner(x):
    x = str(x).strip().lower()
    if x in ['freelance', 'others']:
        return 'High Risk (Freelance/Others)'
    elif x == 'partime':
        return 'Medium Risk (Part-time)'
    elif x == 'fixed':
        return 'Low Risk (Fixed)'
    else:
        return 'Other'

df_clean['OccPartner_bin'] = df_clean['Occupation_Partner'].apply(bin_occ_partner)

# ======================
# Final check
# ======================
print(df_clean[['Age_bin','Income_bin','Occ_bin','Marital_bin',
                'Housing_bin','EmpTenure_bin','OccPartner_bin']].head(15))

                Age_bin              Income_bin  \
0        Low Risk (>40)  Medium Risk (35k-100k)
1   Medium Risk (25-40)        Low Risk (>100k)
2   Medium Risk (25-40)  Medium Risk (35k-100k)
3        Low Risk (>40)  Medium Risk (35k-100k)
4   Medium Risk (25-40)  Medium Risk (35k-100k)
5        Low Risk (>40)        Low Risk (>100k)
6   Medium Risk (25-40)  Medium Risk (35k-100k)
7        Low Risk (>40)        Low Risk (>100k)
8        Low Risk (>40)        Low Risk (>100k)
9        Low Risk (>40)  Medium Risk (35k-100k)
10       Low Risk (>40)  Medium Risk (35k-100k)
11       Low Risk (>40)        Low Risk (>100k)
12  Medium Risk (25-40)  Medium Risk (35k-100k)
13  Medium Risk (25-40)  Medium Risk (35k-100k)
14       Low Risk (>40)  Medium Risk (35k-100k)

                          Occ_bin                   Marital_bin  \
0           Medium Risk (Private)            High Risk (Single)
1   Low Risk (Govt/Self-Employed)  Low Risk (Married/Separated)
2   Low Risk (Govt/Self-Employed)            High Risk (Single)
3           Medium Risk (Private)            High Risk (Single)
4           Medium Risk (Private)  Low Risk (Married/Separated)
5   Low Risk (Govt/Self-Employed)            High Risk (Single)
6           Medium Risk (Private)  Low Risk (Married/Separated)
7   Low Risk (Govt/Self-Employed)            High Risk (Single)
8           Medium Risk (Private)            High Risk (Single)
9   Low Risk (Govt/Self-Employed)  Low Risk (Married/Separated)
10          Medium Risk (Private)  Low Risk (Married/Separated)
11          Medium Risk (Private)            High Risk (Single)
12          Medium Risk (Private)  Low Risk (Married/Separated)
13          Medium Risk (Private)  Low Risk (Married/Separated)
14  Low Risk (Govt/Self-Employed)            High Risk (Single)

         Housing_bin           EmpTenure_bin                OccPartner_bin
0     Low Risk (Own)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
1   High Risk (Rent)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
2   High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
3   High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
4   High Risk (Rent)  Medium Risk (4-10 yrs)       Medium Risk (Part-time)
5     Low Risk (Own)      Low Risk (>10 yrs)       Medium Risk (Part-time)
6     Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
7   High Risk (Rent)      Low Risk (>10 yrs)  High Risk (Freelance/Others)
8     Low Risk (Own)      Low Risk (>10 yrs)       Medium Risk (Part-time)
9   High Risk (Rent)      Low Risk (>10 yrs)              Low Risk (Fixed)
10    Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
11    Low Risk (Own)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
12    Low Risk (Own)  Medium Risk (4-10 yrs)       Medium Risk (Part-time)
13  High Risk (Rent)  Medium Risk (4-10 yrs)              Low Risk (Fixed)
14    Low Risk (Own)      Low Risk (>10 yrs)  High Risk (Freelance/Others)

C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3940172959.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Age_bin'] = np.select(
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3940172959.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Income_bin'] = df_clean['Income_group'].apply(bin_income)
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3940172959.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Occ_bin'] = df_clean['Occupation_type'].apply(bin_occ)
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3940172959.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Marital_bin'] = df_clean['Marital_Status'].apply(bin_marital)
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3940172959.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Housing_bin'] = df_clean['Housing_1_Own_2_Rent'].map({
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3940172959.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['EmpTenure_bin'] = np.select(
C:\Users\rayde\AppData\Local\Temp\ipykernel_22928\3940172959.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['OccPartner_bin'] = df_clean['Occupation_Partner'].apply(bin_occ_partner)

In [60]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (0.14.5)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from statsmodels) (2.2.5)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from statsmodels) (1.16.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rayde\anaconda3\envs\subhashish_python\lib\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

In [72]:
import numpy as np
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# -----------------------------
# Function to calculate WOE
# -----------------------------
def calc_woe_iv(df, feature, target):
    temp = df.groupby(feature)[target].agg(['sum','count'])
    temp['non_event'] = temp['count'] - temp['sum']
    temp['event_dist'] = temp['sum'] / temp['sum'].sum()
    temp['non_event_dist'] = temp['non_event'] / temp['non_event'].sum()
    temp['WOE'] = np.log(temp['event_dist'] / temp['non_event_dist']).replace([np.inf, -np.inf], 0)
    mapping = temp['WOE'].to_dict()
    return mapping

# -----------------------------
# Apply WOE on all 7 coarse variables
# -----------------------------
coarse_vars = ['Age_bin', 'Income_bin', 'Occ_bin', 'Marital_bin',
               'Housing_bin', 'EmpTenure_bin', 'OccPartner_bin']

df_woe = df_clean.copy()

for var in coarse_vars:
    woe_map = calc_woe_iv(df_clean, var, 'Default_Flag')
    df_woe[var + '_WOE'] = df_clean[var].map(woe_map)

# -----------------------------
# Calculate VIF using WOE variables
# -----------------------------
woe_cols = [v + '_WOE' for v in coarse_vars]
X = df_woe[woe_cols]

vif_data = pd.DataFrame()
vif_data['feature'] = X.columns
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif_data)

              feature       VIF
0         Age_bin_WOE  1.792508
1      Income_bin_WOE  1.606338
2         Occ_bin_WOE  1.035952
3     Marital_bin_WOE  1.007954
4     Housing_bin_WOE  1.007942
5   EmpTenure_bin_WOE  2.111732
6  OccPartner_bin_WOE  1.011420

C:\Users\rayde\anaconda3\envs\subhashish_python\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
import statsmodels.api as sm

# --------------------------------------
# 1. Define feature columns and target
# --------------------------------------
woe_features = [
    'Age_bin_WOE',
    'Income_bin_WOE',
    'Occ_bin_WOE',
    'Marital_bin_WOE',
    'Housing_bin_WOE',
    'OccPartner_bin_WOE'
]

X_train_model = train_df[woe_features]     # training dataset (already split)
y_train = train_df['Default_Flag']

# --------------------------------------
# 2. Add intercept (constant) term
# --------------------------------------
X_train_const = sm.add_constant(X_train_model)

# --------------------------------------
# 3. Build Logistic Regression model
# --------------------------------------
logit_model = sm.Logit(y_train, X_train_const)
result = logit_model.fit()

# --------------------------------------
# 4. View model summary
# --------------------------------------
print(result.summary())

In [ ]:
df_woe

In [ ]:
vif_data

In [ ]:
import pandas as pd

# full WOE dataset you already created earlier
# df_woe has all 7 WOE variables
# remove EmpTenure_bin_WOE and keep only the 6 selected variables

final_woe_vars = [
    'Age_bin_WOE',
    'Income_bin_WOE',
    'Occ_bin_WOE',
    'Marital_bin_WOE',
    'Housing_bin_WOE',
    'OccPartner_bin_WOE'
]

# create final dataset
df_model = df_woe[final_woe_vars + ['Default_Flag']].copy()

# quick check
print(df_model.head())

In [ ]:
import pandas as pd
import statsmodels.api as sm

# ---------------------------------------
# Step 1: Select final WOE variables
# ---------------------------------------
woe_vars = [
    'Age_bin_WOE', 'Income_bin_WOE', 'Occ_bin_WOE',
    'Marital_bin_WOE', 'Housing_bin_WOE', 'OccPartner_bin_WOE'
]

# Create modeling dataset with only predictors + target
df_model = df_woe[woe_vars + ['Default_Flag']].copy()

print("Shape of modeling dataset:", df_model.shape)
print(df_model.head())

# ---------------------------------------
# Step 2: Define X (features) and y (target)
# ---------------------------------------
X = df_model[woe_vars]
y = df_model['Default_Flag']

# Add constant for intercept
X = sm.add_constant(X)

# ---------------------------------------
# Step 3: Build logistic regression model
# ---------------------------------------
logit_model = sm.Logit(y, X)
result = logit_model.fit()

# ---------------------------------------
# Step 4: View model summary
# ---------------------------------------
print(result.summary())

In [102]:
import numpy as np
import pandas as pd

# Step 1: Get predicted probabilities from the trained model
df_model['pred_prob'] = result.predict(sm.add_constant(df_model[woe_vars]))

# Step 2: Separate the default and non-default groups
default = df_model[df_model['Default_Flag'] == 1]['pred_prob']
nondefault = df_model[df_model['Default_Flag'] == 0]['pred_prob']

# Step 3: Calculate concordance, discordance, and ties
concordant = 0
discordant = 0
ties = 0

for i in default:
    for j in nondefault:
        if i > j:
            concordant += 1
        elif i < j:
            discordant += 1
        else:
            ties += 1

# Step 4: Total pairs and percentages
total_pairs = concordant + discordant + ties

concordance_perc = round((concordant / total_pairs) * 100, 2)
discordance_perc = round((discordant / total_pairs) * 100, 2)
ties_perc = round((ties / total_pairs) * 100, 2)

# Step 5: Print the results
print("Concordant Pairs   :", concordant)
print("Discordant Pairs   :", discordant)
print("Tied Pairs         :", ties)
print("Total Pairs        :", total_pairs)

print("\nConcordance (%)    :", concordance_perc)
print("Discordance (%)    :", discordance_perc)
print("Ties (%)           :", ties_perc)

Concordant Pairs   : 33394855
Discordant Pairs   : 9958988
Tied Pairs         : 430009
Total Pairs        : 43783852

Concordance (%)    : 76.27
Discordance (%)    : 22.75
Ties (%)           : 0.98

In [118]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm

# -----------------------------------
# Step 1: Prepare features for prediction
# -----------------------------------
X = df_model[['Age_bin_WOE','Income_bin_WOE','Occ_bin_WOE',
              'Marital_bin_WOE','Housing_bin_WOE','OccPartner_bin_WOE']]

# Add intercept/constant (since model was trained with it)
X = sm.add_constant(X)

# -----------------------------------
# Step 2: Predict probabilities from logistic regression model
# -----------------------------------
df_model['pred_prob'] = result.predict(X)

# -----------------------------------
# Step 3: Create decile groups of predicted probabilities
# -----------------------------------
df_model['decile'] = pd.qcut(df_model['pred_prob'], 10, duplicates='drop')

# -----------------------------------
# Step 4: Group by deciles and calculate observed vs expected
# -----------------------------------
hl_table = (
    df_model.groupby('decile', observed=False)
    .apply(lambda d: pd.Series({
        'total': len(d),
        'observed_1': d['Default_Flag'].sum(),  # actual defaults
        'observed_0': (1 - d['Default_Flag']).sum(),  # actual non-defaults
        'expected_1': d['pred_prob'].sum(),  # expected defaults
        'expected_0': (1 - d['pred_prob']).sum()  # expected non-defaults
    }), include_groups=False)
    .reset_index()
)

# -----------------------------------
# Step 5: Hosmerâ€“Lemeshow Chi-Square statistic
# -----------------------------------
hl_table['chi_1'] = (hl_table['observed_1'] - hl_table['expected_1'])**2 / hl_table['expected_1']
hl_table['chi_0'] = (hl_table['observed_0'] - hl_table['expected_0'])**2 / hl_table['expected_0']

HL_stat = hl_table['chi_1'].sum() + hl_table['chi_0'].sum()
df = hl_table.shape[0] - 2  # degrees of freedom (g-2 where g = groups = 10)
p_value = 1 - stats.chi2.cdf(HL_stat, df)

# -----------------------------------
# Step 6: Print the results
# -----------------------------------
print("Hosmerâ€“Lemeshow Test Results")
print("----------------------------")
print(hl_table[['decile','observed_1','expected_1','observed_0','expected_0']])
print("\nHL Statistic :", round(HL_stat, 2))
print("Degrees of freedom:", df)
print("p-value :", round(p_value, 4))

Hosmerâ€“Lemeshow Test Results
----------------------------
                            decile  observed_1  expected_1  observed_0  \
0  (0.0057799999999999995, 0.0299]        26.0   32.784525      1801.0
1                 (0.0299, 0.0474]        68.0   75.456769      1950.0
2                 (0.0474, 0.0664]       108.0   94.363007      1590.0
3                  (0.0664, 0.089]       149.0  131.530118      1620.0
4                   (0.089, 0.108]       187.0  188.214559      1694.0
5                   (0.108, 0.142]       252.0  260.906381      1726.0
6                   (0.142, 0.185]       287.0  285.615970      1400.0
7                   (0.185, 0.259]       415.0  413.089759      1438.0
8                   (0.259, 0.349]       500.0  522.214774      1230.0
9                   (0.349, 0.615]       850.0  837.824137       957.0

    expected_0
0  1794.215475
1  1942.543231
2  1603.636993
3  1637.469882
4  1692.785441
5  1717.093619
6  1401.384030
7  1439.910241
8  1207.785226
9   969.175863

HL Statistic : 8.85
Degrees of freedom: 8
p-value : 0.3551

In [122]:
import pandas as pd
import statsmodels.api as sm

# -----------------------------
# Step 1: Generate predicted probabilities (scores)
# -----------------------------
df_model['score'] = result.predict(sm.add_constant(df_model[[
    'Age_bin_WOE', 'Income_bin_WOE', 'Occ_bin_WOE',
    'Marital_bin_WOE', 'Housing_bin_WOE', 'OccPartner_bin_WOE'
]]))

# -----------------------------
# Step 2: Round scores to 3 decimals 
# (avoids too many unique values)
# -----------------------------
df_model['score_rounded'] = df_model['score'].round(3)

# -----------------------------
# Step 3: Frequency distribution of rounded scores
# -----------------------------
clustering_check = (
    df_model.groupby('score_rounded')
    .size()
    .reset_index(name='count')
)

# -----------------------------
# Step 4: Add percentage of total customers
# -----------------------------
clustering_check['perc'] = round(
    (clustering_check['count'] / clustering_check['count'].sum()) * 100, 2
)

# -----------------------------
# Step 5: Sort by frequency 
# (to detect concentrations)
# -----------------------------
clustering_check = clustering_check.sort_values(by='count', ascending=False)

print("\n Clustering Check â€“ Top 10 Most Frequent Score Points:\n")
print(clustering_check.head(10))

 Clustering Check â€“ Top 10 Most Frequent Score Points:

     score_rounded  count  perc
80           0.142    526  2.88
18           0.036    511  2.80
30           0.052    450  2.47
41           0.071    398  2.18
40           0.070    388  2.13
61           0.106    369  2.02
63           0.108    361  1.98
126          0.331    345  1.89
93           0.181    339  1.86
4            0.015    338  1.85


Brier Score Calculation

In [ ]:
!pip install scikit-learn

In [130]:
from sklearn.metrics import brier_score_loss

# Step 1: Actual default flags
y_true = df_model['Default_Flag']

# Step 2: Predicted probabilities
y_pred_prob = df_model['pred_prob']

# Step 3: Compute Brier Score
brier_score = brier_score_loss(y_true, y_pred_prob)

print("Brier Score:", round(brier_score, 4))

Brier Score: 0.1136

In [ ]:
# ------------------------------------------------
# Step 1: Import Brier Score function
# ------------------------------------------------
from sklearn.metrics import brier_score_loss

# ------------------------------------------------
# Step 2: Actual default flags
# These are the true labels from our dataset:
# 1 = Defaulted, 0 = Did not default
# ------------------------------------------------
y_true = df_model['Default_Flag']

# ------------------------------------------------
# Step 3: Predicted probabilities from our model
# These are the modelâ€™s outputs (scores) that
# represent the estimated probability of default
# ------------------------------------------------
y_pred_prob = df_model['pred_prob']

# ------------------------------------------------
# Step 4: Compute the Brier Score
# The formula is: mean((y_true - y_pred_prob)^2)
# It measures how close the predicted probabilities
# are to the actual outcomes.
# ------------------------------------------------
brier_score = brier_score_loss(y_true, y_pred_prob)

# ------------------------------------------------
# Step 5: Print result
# A lower score indicates better accuracy.
# ------------------------------------------------
print("Brier Score:", round(brier_score, 4))

In [134]:
import numpy as np
from sklearn.metrics import roc_auc_score

# Step 1: Define Actual Defaults and Predicted Probabilities
y_true = df_model['Default_Flag']       # 1 = Default, 0 = Non-default
y_pred_prob = df_model['pred_prob']     # Predicted probability of default from model

# Step 2: Compute C-statistic (AUC)
c_statistic = roc_auc_score(y_true, y_pred_prob)

# Step 3: Compute Somer's D
somers_d = 2 * c_statistic - 1

# Step 4: Print Results
print("C-Statistic (AUC):", round(c_statistic, 4))
print("Somer's D:", round(somers_d, 4))

C-Statistic (AUC): 0.7676
Somer's D: 0.5353

In [138]:
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix

# Step 1: Actual outcomes (default flag)
y_true = df_model['Default_Flag']

# Step 2: Predicted probabilities from the model
y_pred_prob = df_model['pred_prob']

# Step 3: Apply cutoff threshold (0.5)
y_pred_class = (y_pred_prob >= 0.5).astype(int)

# Step 4: Calculate Accuracy
accuracy = accuracy_score(y_true, y_pred_class)

# Step 5: Calculate Precision
precision = precision_score(y_true, y_pred_class)

# Step 6: Confusion Matrix for detailed breakdown
cm = confusion_matrix(y_true, y_pred_class)

# Display results
print("Model Accuracy :", round(accuracy, 4))
print("Model Precision:", round(precision, 4))
print("\nConfusion Matrix:\n", cm)

Model Accuracy : 0.8467
Model Precision: 0.5321

Confusion Matrix:
 [[15085   321]
 [ 2477   365]]

In [142]:
import pandas as pd

# Step 1: Take actual default flag and predicted probabilities
df_rank = df_model[['Default_Flag', 'pred_prob']].copy()

# Step 2: Create deciles (10 groups based on predicted probabilities)
df_rank['decile'] = pd.qcut(df_rank['pred_prob'], 10, labels=False, duplicates='drop') + 1

# Step 3: Group by decile and calculate metrics
rank_table = df_rank.groupby('decile').agg(
    total_customers = ('Default_Flag', 'count'),
    mean_score      = ('pred_prob', 'mean'),
    bad_rate        = ('Default_Flag', 'mean')
).reset_index()

# Step 4: Sort by decile (highest score group first)
rank_table = rank_table.sort_values(by='decile', ascending=False).reset_index(drop=True)

# Step 5: Print results
print("\nðŸ“Š Rank Ordering Table (by Deciles):\n")
print(rank_table)

ðŸ“Š Rank Ordering Table (by Deciles):

   decile  total_customers  mean_score  bad_rate
0      10             1807    0.463655  0.470393
1       9             1730    0.301858  0.289017
2       8             1853    0.222930  0.223961
3       7             1687    0.169304  0.170124
4       6             1978    0.131904  0.127401
5       5             1881    0.100061  0.099415
6       4             1769    0.074353  0.084228
7       3             1698    0.055573  0.063604
8       2             2018    0.037392  0.033697
9       1             1827    0.017944  0.014231

In [152]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score, roc_curve

# KS Statistic
def ks_statistic(y_true, y_pred_prob):
    data = pd.DataFrame({"y_true": y_true, "y_pred_prob": y_pred_prob})
    data = data.sort_values(by="y_pred_prob", ascending=False)

    # Cumulative bad and good rates
    data["cum_bad"] = (data["y_true"] == 1).cumsum() / (data["y_true"] == 1).sum()
    data["cum_good"] = (data["y_true"] == 0).cumsum() / (data["y_true"] == 0).sum()

    data["ks"] = np.abs(data["cum_bad"] - data["cum_good"])
    ks_value = data["ks"].max()
    ks_at = data.loc[data["ks"].idxmax(), "y_pred_prob"]

    return ks_value, ks_at, data

ks_value, ks_cutoff, ks_table = ks_statistic(y_true, y_pred_prob)
print(f"KS Statistic: {ks_value:.4f} at cutoff {ks_cutoff:.4f}")

KS Statistic: 0.4021 at cutoff 0.1583

In [150]:
# Gini Coefficient
auc = roc_auc_score(y_true, y_pred_prob)
gini = 2 * auc - 1
print(f"AUC: {auc:.4f}")
print(f"Gini Coefficient: {gini:.4f}")

AUC: 0.7676
Gini Coefficient: 0.5353